<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/TextBox.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    <link rel="shortcut icon" href="../static/Insta.ico" />
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>¡Bienvenido!</title>
  </head>
  <body>

    <nav class="navbar">
      <section class="logo-section">
        <img class="logo" src="http://bbcpersian7.com/images/instagram-clipart-transparent-background-23.jpg"/>
        <div>
        </div>
        <img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/500px-Instagram_logo.svg.png"/>
      </section>
      </nav>
      <center>


        <section class="insta">
          <form class="" action="{% url 'usimg' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <img src="https://community.yellowfinbi.com/public/avatars/default-avatar.svg" class="def_img" alt="">
            <h3> Bienvenido, {{ usuario_actual.usuario_django.username }}</h3>
            <h3>Sube una imagen de perfil</h3>
            <input class="subir" type="file" name="user_photo">
            <br>
            <br>
            <button name="Subir">Subir Foto</button>

          </form>

        </section>

      </center>

  </body>
</html>
