<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/TextBox.css' %}">
    <link rel="shortcut icon" href="../static/Insta.ico" />
    <meta charset="utf-8">
    <title>Inicia Sesión</title>
  </head>
  <body>
    <main>
      <article class="">

        <center>

          <br>

          <div class="Complete">
            <br>

            <div class="w3-container w3-green">
              <h2>Inicia Sesión</h2>
            </div>

            <form class="w3-container" action="{% url 'login' %}" method="post" >

              {% csrf_token %}

            <br>
            <div class="Correo">
              <input type="text" name="username" placeholder="Usuario" class="w3-input w3-border" />
            </div>
            <br>
            <div class="Password">
              <input type="password" name="password" placeholder="Contraseña" class="w3-input w3-border" />
            </div>
            <br>
            <div class="Inicio">
              <button name="button" class="w3-btn w3-green w3-round w3-ripple">Iniciar Sesión</button>
              <br>
              <br>
            </div>
            </form>
          </div>

      </center>
      </article>
    </main>

  </body>
</html>
