<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/TextBox.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/home2.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="shortcut icon" href="../static/Insta.ico" />
    <meta charset="utf-8">
    <title>Tu Perfil</title>
  </head>
  <body>

          <div class="Sidebar">


          <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
          <div class="Perfile w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
            <div class="Perfile">
              <img class="photoluser" src="{% static '' %}{{usuario_actual.foto}}"/>
              <h1 class="photolusername">{{ usuario_actual.usuario_django.username }}</h1>
            </div>
            <a href="{% url 'home'%}" class="w3-bar-item w3-button w3-large w3-padding-24">Inicio<i class="fa fa-home"></i> </a>
            <a href="{% url 'galeria'%}" class="w3-bar-item w3-button w3-large w3-padding-24">Subir Foto<i class="fa fa-upload"></i></a>
            <a href="{% url 'opciones' %}" class="w3-bar-item w3-button w3-large w3-padding-24">Opciones<i class="fa fa-cog"></i></a>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-large w3-padding-24">Cerrar Sesión<i class="fa fa-sign-out"></i></a>
            <button class="w3-bar-item w3-button w3-right w3-large w3-padding-24" onclick="w3_close()"> Cerrar &times;</button>
          </div>

        </div>
        <nav class="navbar">
          <button href="#" class="w3-button w3-white w3-left" onclick="w3_open()">&#9776;</button>
          <section class="logo-section"><img class="logo" src="https://image.flaticon.com/icons/svg/69/69366.svg"/>
            <div></div><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/500px-Instagram_logo.svg.png"/>
          </section>
          <div class="searcho">
            <form class="search-section">
              <input class="input-search" type="search" name="search" placeholder="Buscar"/>
            </form>
          </div>

          </nav>

        <section class="insta">
                <section class="insta-header"><img class="insta-photo-profile" src="{% static '' %}{{usuario_actual.foto}}"/>
                  <section class="insta-header-data">
                    <section class="insta-info">
                      <h1 class="insta-username">{{ usuario_actual.usuario_django.username }}</h1>
                      <button class="insta-follow-button">Seguir</button>
                      <button class="insta-suggestions fa fa-caret-down"></button>
                      <button class="insta-options fa fa-ellipsis-h"></button>
                    </section>
                    <section class="insta-follows">
                      <p><span class="insta-indicator">{{ post_user|length }}</span>publicaciones</p>
                      <p><span>1013</span> Seguidores</p>
                      <p><span>110</span> Seguidos</p>
                    </section>
                    <section class="insta-description"></section>
                  </section>
                </section>
                <section class="insta-gallery">

                  {% if post_user %}
                    {% for curr_post in post_user %}
                      <section class="insta-picture-container"><img class="insta-picture" src=" {% static '' %}{{curr_post.photo}} "/>
                        <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>123k</span></span></section>
                      </section>
                    {% endfor %}
                  {% else %}
                    No tienes publicaciones :(
                  {% endif %}

                </section>
        </section>

        <script>
          function w3_open()
          {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
          }
          function w3_close()
          {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
          }
        </script>

  </body>
</html>
